<div>

  <form [formGroup] = "form">
    <label><h4>Pizza Name</h4>
    <input type="text" placeholder="e.g. Pepperoni" formControlName="name">
    <div>
      <p>Pizza must have a name</p>
    </div>
    </label>
    <h4>Select topping(s)</h4>
    <div>
      <app-pizza-toppings [toppings] = "toppings" formControlName="toppings"></app-pizza-toppings>
    </div>
  </form>
  <ng-content></ng-content>
</div>
