<div>


<header>
  <div class="outlineEle">
    <img src="assets/logo.png" alt="Pizzalogo" width="200">
  </div>
  <div class="outlineEle">
    <h1>Menu</h1>
  </div>
</header>
<div class="container">
  <div class="container__nav"><a routerLink="Products" routerLinkActive="active">Products</a></div>
  <div class="container__content">
  <router-outlet> </router-outlet>
  </div>

</div>

</div>
