.pizza-display__base {
  position: relative;
  text-align: center;
}
.pizza-display__topping {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  weight: 100%;
}

/*# sourceMappingURL=pizza-display.component.css.map */
