/* You can add global styles to this file, and also import other style files */

$default_margin: 35px;
$bc_color:#ffff;
$default_font: 'cornerstone';
@font-face{
  font-family: $default_font;
  src: url("assets/fonts/cornerstone.woff");
  font-weight: normal;
  font-style: normal;
}
header{
  height: 15vh;
  background-color: orange;
  display: flex;
  justify-content: space-between;
}
.outlineEle{
  margin:5px;
}
a{
  text-decoration: none;
}
.btn{
  display: inline-block;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  font-family: cornerstone;
  cursor: pointer;
  transition: all 0.2s ease;
  &__ok{
    background: #0f9675;
    color:#ffffff;
  }
}
.container{
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto 50px;
  &__content{

    padding: $default_margin;
    background-color: darkred;

    &__new{
      margin: -35px -35px 35px -35px;
      background: #f9f9f9;
      padding: $default_margin;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__list{
      display: flex;
      flex-wrap: wrap;

      app-pizza-item{
        background: $bc_color;
        flex: 0 0 33.33%;
        margin: 0 0 55px;
        transition: 0.2s all ease;

        .pizza-item{
          text-align: center;
          margin:0 10px;
          padding: 20px 10px;
          border-radius: 4px;
          background: #f5f5f5;
          a{
            color: black;
          }
          app-pizza-display{
            display: block;

          }
          h4{
            margin: 10px 0;
            font-size: 20px;
            font-weight: normal;
            font-family: 'cornerstone';
          }
        }
      }
    }
  }
  &__nav{
    font-family: cornerstone;
    background-color: #ab131b;
    display: flex;
    text-align: center;
    border-radius: 5px 5px 0 0;
    justify-content: center;
    align-items: center;
    a{
      color: #ffffff;
      padding: 15px 35px;
      &.active{
        background: #921217;
      }

    }
  }
}

footer{
  height: 25vh;
  border-radius: 0 0 4px 4px;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  background-color: darkorchid;
  display: flex;
  justify-content: space-around;
  .footer_section{
    width: 300px;
    color:white;
    margin: 30px 30px;
  }
}

