/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "cornerstone";
  src: url("assets/fonts/cornerstone.woff");
  font-weight: normal;
  font-style: normal;
}
header {
  height: 15vh;
  background-color: orange;
  display: flex;
  justify-content: space-between;
}

.outlineEle {
  margin: 5px;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  font-family: cornerstone;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn__ok {
  background: #0f9675;
  color: #ffffff;
}

.container {
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto 50px;
}
.container__content {
  padding: 35px;
  background-color: darkred;
}
.container__content__new {
  margin: -35px -35px 35px -35px;
  background: #f9f9f9;
  padding: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__content__list {
  display: flex;
  flex-wrap: wrap;
}
.container__content__list app-pizza-item {
  background: #ffff;
  flex: 0 0 33.33%;
  margin: 0 0 55px;
  transition: 0.2s all ease;
}
.container__content__list app-pizza-item .pizza-item {
  text-align: center;
  margin: 0 10px;
  padding: 20px 10px;
  border-radius: 4px;
  background: #f5f5f5;
}
.container__content__list app-pizza-item .pizza-item a {
  color: black;
}
.container__content__list app-pizza-item .pizza-item app-pizza-display {
  display: block;
}
.container__content__list app-pizza-item .pizza-item h4 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: normal;
  font-family: "cornerstone";
}
.container__nav {
  font-family: cornerstone;
  background-color: #ab131b;
  display: flex;
  text-align: center;
  border-radius: 5px 5px 0 0;
  justify-content: center;
  align-items: center;
}
.container__nav a {
  color: #ffffff;
  padding: 15px 35px;
}
.container__nav a.active {
  background: #921217;
}

footer {
  height: 25vh;
  border-radius: 0 0 4px 4px;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  background-color: darkorchid;
  display: flex;
  justify-content: space-around;
}
footer .footer_section {
  width: 300px;
  color: white;
  margin: 30px 30px;
}

/*# sourceMappingURL=styles.css.map */
